.intro {

  &__summary {
    --flow-space: #{get-size(500)};
    font-size: get-size(500);

    a {
      color: currentColor;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__heading {
    max-width: 40ex;
    color: var(--color-theme-feature-text);

    &--compact {
      max-width: 20ex;
    }
  }
}


// homepage
.intro-home {
  min-height: 100vh;
  background: var(--color-bg);
  .intro__summary p s {
    position: relative;
    text-decoration: none;
    padding: 0em 0.1em;
    &:before {
      content: "";
      height: 100%;
      width: 100%;
      background-position: right bottom .45em;
      background-size: 100% 2px;
      background-image: var(--brand-gradient);
      background-repeat: repeat-x;
      position: absolute;
      top: 0;
      right: 0;
    }

  }


}

.header__logo {
  max-width: 100px;
}
