<section class="[ intro ] [ intro-home ] [ pad-top-700 pad-bottom-max ]">

<a class="skip-link" href="#main-content">Skip to content</a>

  <div class="[ wrapper ] [ box-flex direction-column md:direction-row ]">

    <div class="[ width-full pad-bottom-900 md:width-half md:pad-right-300 md:pad-top-max ]">
      <div class="[ intro__summary ] [ leading-mid ]">
        <p>Hello there, I'm</p>
      </div>

      <h1 class="[ intro__heading{{ ' intro__heading--compact' if page.url === '/' }} ] [ text-900 md:text-max leading-tight pad-top-300 pad-bottom-300 ] [ p-name ]">{{ introHeading }}</h1>
      {% if introSummary %}
        <div class="[ intro__summary ] [ leading-mid ]">{{ introSummary | safe }}</div>
      {% endif %}

      <!-- Social Menu Goes Here -->
      <nav class="nav nav--social[ pad-top-900 ]">
        <ul class="[ nav__list ] [ box-flex align-start]">

            <li class="nav__item">
              <a href="https://codepen.io/camila_waz">CodePen</a>
            </li>
            <li class="nav__item">
              <a href="https://www.instagram.com/colordrops_">Instagram</a>
            </li>
            <li class="nav__item">
              <a href="https://www.twitter.com/waz_linkbrary">Twitter</a>
            </li>
        </ul>
      </nav>
      </div>

      <div class="[ width-full md:width-half md:pad-left-300 ]">
        {% if portfolioListItems.length %}
          <section class="[ post-list portfolio-list ]">
              <ol class="[ post-list__items ]" reversed>
                {% for item in portfolioListItems %}
                  {% if item.date.getTime() <= global.now %}
                    <li class="post-list__item card-basic">
                     {% if item.data.socialImage.length %}
                      <a href="{{ item.url }}">
                        <img src="{{ item.data.socialImage }}" alt="{{ item.data.title }}"/>
                      </a>
                      <h2 class="font-serif leading-tight text-700 weight-mid reveal">
                        {{ item.data.title }}
                      </h2>
                     {% endif %}
                    </li>
                  {% endif %}
                {% endfor %}
              </ol>
          </section>
        {% endif %}
      </div>

    </div>
</section>
