{% if portfolioListItems.length %}
  <section class="[ post-list portfolio-list ] [ pad-top-700 gap-bottom-900 ]">
    <div class="wrapper">
      <ol class="[ post-list__items ]" reversed>
        {% for item in portfolioListItems %}
          {% if item.date.getTime() <= global.now %}
            <li class="post-list__item card-basic">
             {% if item.data.socialImage.length %}
              <a href="{{ item.url }}" rel="bookmark">
                <img src="{{ item.data.socialImage }}" alt="{{ item.data.title }}"/>
              </a>
              
              <h2 class="font-serif leading-tight text-900 weight-mid reveal">
                {{ item.data.title }}
              </h2>
             {% endif %}
            </li>
          {% endif %}
        {% endfor %}
      </ol>
    </div>
  </section>
{% endif %}
