{% extends 'layouts/base.njk' %}

{# Intro content #}
{% set introHeading = title %}
{% set introSummary %}{{ content | safe }}{% endset %}

{# Portfolio list content #}
{% set portfolioListHeading = ' ' %}
{% set portfolioListItems = collections.portfolio %}

{% block content %}
  <main id="main-content portfolio-list-wrapper" tabindex="-1">
    {% include "partials/components/intro.njk" %}
    {% include "partials/components/portfolio-list.njk" %}
  </main>
{% endblock %}
